img {
    display: block;
    max-width: 370px;
    height: auto;  
    padding: 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    width: 1024px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #e5e6e1;
}

.container-header {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 5px;
    
}

.bar{
    padding: 15px 25px 0 25px;
}

.mini-container {
    margin-bottom: 30px;
    padding-bottom: 15px;    
}

.mini-container:last-child{
    margin-bottom: 212px;
}

.image-header {
    margin-right: 88px;     
}

.header-title {
    font-family: 'Blacker Sans Text';
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 1.22;

    padding-bottom: 19px;
    text-transform: uppercase;
}

.header-text {
    font-family: 'Blacker Sans Text';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.21;
    
    padding-bottom: 35px;
    text-transform: uppercase;
}

.phone {
    padding-bottom: 10px;
}

.contact-list {
    font-family: 'Blacker Sans Text';
    font-size: 18px;
    font-weight: bold;
    line-height: 1.31;
}

.contact-list_item:not(:last-child) {
    padding-bottom: 5px;
}

.icon-list {
    vertical-align: middle;
    margin-right: 5px;
}

.container-main {
    display: flex;
    background-color:#e5e6e1;   
}

.container-main_first {
    width: 370px;
    margin: 30px 45px 30px 25px;
    background-color: #c7bdbb;
    height: 100% auto;
}

.container-main_second{
    padding: 30px 25px 30px 0;
}

.soft{
    list-style: inside;
}

.main_title {
    font-family: 'Blacker Sans Text';
    font-weight: bold;
    font-size: 22px;
    line-height: 1.31;

    text-transform: uppercase;
    padding-bottom: 5px;
}

.main_text {
    font-family: 'Blacker Sans Text';
    font-size: 18px;
    line-height: 1.31;

    text-align: justify;
}

.work-container:not(:last-child) {
    padding-bottom: 15px;
}

.workt-title {
    font-family: 'Blacker Sans Text';
    font-weight: bold;
    font-size: 18px;
    line-height: 1.31;
}

.work-text {
    font-family: 'Blacker Sans Text';
    font-size: 18px;   
    line-height: 1.31;    
}

.name-project {
    display: flex;
}

.project-link {
    margin-right: 5px;
}

.education {
    font-weight: bold;
}

.education:not(:last-child){
    margin-bottom: 15px;
}

.text-education {
    font-weight: normal;
}

.project {
    margin-right: 5px;
}


@font-face {
    font-family: "Blacker Sans Text";
    src: url("../fonts/BlackerSansText-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.link-color{
    color: black;
}

.space{
    margin-right: 4px;
}

.tools{    
    margin-left: 24px;
    font-size: 14px;
    line-height: 1.31;
}


